/*body{
    margin:0;
    background:#ececec;
    font-family:Arial, Helvetica, sans-serif;
}*/

.contenedor{

    display:flex;
    justify-content:center;
    margin-top:40px;

}

.card{

    width:700px;

    background:white;

    border:2px solid #222;

    padding:25px;

}

.card h2{

    text-align:center;

    margin:0 0 20px;

}

.fila{

    display:grid;

    grid-template-columns: 3fr 1fr 1fr;

    border-bottom:1px solid #888;

}

.encabezado{

    font-weight:bold;

    text-align:center;

    background:#efefef;

}

.encabezado > div:nth-child(1){

    background:#7A197A;
    color:white;
        display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado > div:nth-child(3){
        display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado div{

    padding:12px;

}

.fila span{

    display:flex;

    justify-content:center;

    align-items:center;

    border-left:1px solid #888;

    font-size:18px;

}

.fila button{

    border:none;

    text-align:center;

    padding:14px;

    cursor:pointer;

    font-size:16px;

    transition:.2s;

    color:white;

}

.vida button{
  background: #7633A4;
}

.mision button{
  background: #315296;
}

.alma button{
  background: #3443C5;
}

.personalidad button{
  background: #004BA7;
}

.expresion button{
  background: #11463A;
}

.equilibrio button{
  background: #739CAE;
}

.fuerza button{
  background: #7DC0D3;
}

.fila button:hover{

    background:#dbe8ff;

}

.fila-formulario{
    border-bottom: 1px solid #888;
    padding: 15px;
    /*display: flex;
    justify-content: space-around;*/
}

.resultado-final{
    font-size: 7vh;
    text-align: center;
}


.controles{
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.fila-formulario input{
   width: 16%;
   height: 30px;
   font-size: 18px;
   border: 1px solid #cfcfcf;
    border-radius: 12px;
    border-top: 4px solid #7A197A;
    border-left: 1.5px solid #7A197A;
    border-right: 1.5px solid #7A197A;
    border-bottom: 4px solid #7A197A;
    outline: none;
    transition: .2s;
    padding: 0.5vh;
}

.fila-formulario button{
    color: white;
    background: #7A197A;
    padding: 10px;
    border-radius: 3vh;
}

.fila-formulario p{
    margin-top:20px;
    text-align:center;
}


/* mision cosmica */
.controles-cosmica input{
    border-top: 4px solid #315296;
    border-left: 1.5px solid #315296;
    border-right: 1.5px solid #315296;
    border-bottom: 4px solid #315296;
   
}
.input-cosmica-zone{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.inputs-cosmica{
    display: flex;
    justify-content: space-evenly;
}

.inputs-cosmica input{
    width: 30%;
    height: 30px;
    font-size: 18px;
    margin-bottom: 15px;
}

.button-cosmica{
    display: flex;
    justify-content: center;
    width: 100%;
}
.button-cosmica button{
    text-align: center;
    color: white;
    background: #315296;
    padding: 10px;
    border-radius: 3vh;
    width: 30%;
}

.referencia-letras{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.referencia-item{
    flex: 1;
    min-width: 70px;
    text-align: center;
}

.valor{
    font-size: 22px;
    font-weight: bold;
    color: #315296;
    border-bottom: 2px solid #315296;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.letras{
    font-size: 15px;
    letter-spacing: 2px;
}

@media (max-width: 768px) {

    .card{
    padding: 2vh 0vh 0vh 0vh;
    }

    .encabezado div {
    padding: 2vh 1vh 2vh 1vh;
}

.inputs-cosmica{
    flex-direction: column;
    align-items: center;
}

.inputs-cosmica input{
  width: 80% !important;
}

}

